*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.loading-screen{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}

.loading{
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    animation: rotate 3s linear infinite;
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

.loading span{
    width: 32px;
    height: 32px;
    background-color: red;
    margin: 4px;
    animation: scale 1.5s linear infinite;
}

@keyframes scale{
    50%{
        transform: scale(1.2);
    }
}

.loading span:nth-child(1){
    border-radius: 50% 50% 0 50%;
    background-color: #d8191e;
    transform-origin: bottom right;
}

.loading span:nth-child(2){
    border-radius: 50% 50% 50% 0;
    background-color: #f3bf11;
    transform-origin: bottom left;
    animation-delay: .5s;
}

.loading span:nth-child(3){
    border-radius: 50% 0 50% 50%;
    background-color: #5693e3;
    transform-origin: top right;
    animation-delay: 1.5s;
}

.loading span:nth-child(4){
    border-radius: 0 50% 50% 50%;
    background-color: #72c221;
    transform-origin: top left;
    animation-delay: 1s;
}


h1{
/*     color: white ; */
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
}


.gambo{
    position: absolute;
    z-index: 1;
    top: 65%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 7px;
    height: 100px;
    background-color: #e0b591;
}

